<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
 <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <style>
        img{
            width: 100px;
            height: 100px;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="container">
            <h1 class="text-center">购物车</h1>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" :checked="allcheck" @click="all">全选</th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(good,index) in goods" class="list-group-item-success">
                        <td>
                            <!-- 单选使用v-model -->
                            <input type="checkbox" v-model="good.ischeck">
                        </td>
                        <td><img :src="good.goodsimg" >{{ good.goodsname  }}</td>
                        <td>{{ (good.goodsprice).toFixed(2) }}</td>
                        <td>
                            <button @click="minus(index)">-</button>
                            {{ good.num }}
                            <button @click="add(index)">+</button>
                        </td>
                        <td>{{ (good.goodsprice * good.num).toFixed(2) }}</td>
                        <td>
                            <button class="btn btn-danger" @click="del(index)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float: right; margin-right: 50px;" class="alert alert-danger">
                总计：{{ totalPrice }} <button type="button" class="btn btn-danger">去结算</button>
            </div>

        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                allcheck: false,
                goods: [
                    {
                        goodsname: 'PPTV智能电视50VU4',
                        goodsimg: 'https://image2.suning.cn/uimg/cms/img/156756354662165548.jpg',
                        goodsprice: 1999,
                        num: 1,
                        ischeck: false
                    },
                    {
                        goodsname: '长虹55D4P',
                        goodsimg: 'https://imgservice5.suning.cn/uimg1/b2c/atmosphere/J2WcrydlCg209LrducYVHQ.jpg?format=400w_400h_4e',
                        goodsprice: 2999,
                        num: 1,
                        ischeck: false
                    },
                    
                ]
            },
            computed: {
                totalPrice() {
                    var sum = 0;
                    this.goods.map(item => {
                        if (item.ischeck) {
                            sum += item.goodsprice * item.num;
                        }
                    });
                    this.allcheck = this.goods.every(item => {
                        return item.ischeck;
                    })
                    return sum;
                }
            },
            watch:{
                allcheck(){
                    this.goods.map(item=>{
                        item.ischeck = this.allcheck
                    })
                }
            },
            methods: {
                // 增加
                add(n) {
                    if (this.goods[n].num == 99) {
                        return;
                    }
                    this.goods[n].num++;
                },
                // 减少
                minus(m) {
                    if (this.goods[m].num == 1) {
                        return;
                    }
                    this.goods[m].num--;
                },
                //删除
                del(i) {
                    this.goods.splice(i, 1)
                },
                //全选
                all() {
                    this.allcheck = !this.allcheck;
                    this.goods.map(item => {
                        item.ischeck = this.allcheck;
                    })
                }
            }

        })
    </script>
</body>

</html>