body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
.container {
  width: 7.5rem;
  height: 13.5rem;
  margin: 0 auto;
}
.wrap {
  width: 6.9rem;
  margin: 0 auto;
}
.header {
  background-color: #f26b11;
  height: 0.85rem;
}
.header .wrap {
  height: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrap img {
  width: 0.17rem;
  height: 0.29rem;
}
.header .wrap h2 {
  font-size: 0.34rem;
  color: white;
}
.header .wrap .points span {
  display: inline-block;
  width: 0.11rem;
  height: 0.11rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0.1rem;
}
.content {
  height: 12.62rem;
  padding: 0 0.3rem 0 0;
}
.content .left {
  float: left;
  width: 1.62rem;
  height: 12.62rem;
  border-right: 1px solid #d9d9d9;
  overflow: hidden;
}
.content .left li {
  height: 0.5rem;
  line-height: 0.5rem;
  margin: 0.45rem 0 0.45rem 0.45rem;
  font-size: 0.26rem;
  color: #656565;
}
.content .left li.first {
  margin-left: 0;
}
.content .left li.first a {
  color: #f26b11;
}
.content .left li.first span {
  display: inline-block;
  vertical-align: middle;
  width: 0.08rem;
  height: 0.52rem;
  background-color: #f26b11;
  margin-right: 0.3rem;
}
.content .right {
  float: right;
  width: 5.26rem;
  margin-left: 0.22rem;
  margin-top: 0.54rem;
}
.content .right .nav {
  font-size: 0.26rem;
  width: 5.26rem;
  color: #454545;
  margin-bottom: 0.47rem;
}
.content .right .nav .sp1 {
  margin-left: 0.3rem;
}
.content .right .nav .sp2 {
  float: right;
}
.content .right ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.32rem;
}
.content .right li {
  width: 1.51rem;
  height: 1.98rem;
  font-size: 0.22rem;
  color: #878787;
  text-align: center;
}
.content .right .box2 {
  margin-top: 0.8rem;
}
.content .right .box2 img {
  margin-bottom: 0.22rem;
  width: 0.82rem;
  height: 1.33rem;
}
.content .right .box1 img {
  margin-bottom: 0.22rem;
  width: 1.54rem;
  height: 1.52rem;
}
