body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.wrap {
  width: 6.9rem;
  margin: 0 auto;
}
.header {
  background-color: #f26b11;
  height: 0.85rem;
}
.header .wrap {
  height: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrap img {
  width: 0.17rem;
  height: 0.29rem;
}
.header .wrap h2 {
  font-size: 0.34rem;
  color: white;
}
.header .wrap .points span {
  display: inline-block;
  width: 0.11rem;
  height: 0.11rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0.1rem;
}
.top .pic1 {
  width: 7.5rem;
  height: 4.2rem;
}
.top .pic2 {
  width: 7.5rem;
  height: 3.27rem;
}
.name {
  height: 1.4rem;
  padding: 0.33rem 0.13rem;
  background-color: #fff;
}
.name .p1 {
  font-size: 0.3rem;
  color: #333333;
  line-height: 0.5rem;
  margin-bottom: 0.28rem;
}
.name .p2 {
  font-size: 0.23rem;
  color: #e73b3b;
}
.name .p2 span {
  color: #878787;
  font-size: 0.2rem;
}
.choose {
  height: 3.92rem;
  background-color: #fff;
  margin: 0.16rem 0 0.2rem;
}
.choose .box1 {
  border-bottom: 1px solid #f1f1f1;
}
.choose .box1 .wrap {
  height: 0.96rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose .box1 .wrap p {
  font-size: 0.24rem;
  color: #454545;
  display: inline-block;
}
.choose .box1 .wrap p span {
  display: inline-block;
  color: #ae2918;
  font-size: 0.2rem;
  padding: 0.07rem 0.09rem;
  border: 1px solid #ae2918;
  border-radius: 0.05rem;
  margin: 0 0.15rem;
}
.choose .box1 .wrap img {
  width: 0.35rem;
  height: 0.21rem;
}
.choose .box2 {
  border-bottom: 1px solid #f1f1f1;
}
.choose .box2 .wrap {
  height: 1.02rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose .box2 .wrap span {
  font-size: 0.26rem;
  color: #464646;
}
.choose .box2 .wrap ul {
  width: 2.12rem;
  line-height: 0.58rem;
  border: 1px solid #454545;
  border-radius: 0.1rem;
}
.choose .box2 .wrap ul li {
  float: left;
  width: 0.62rem;
  border-right: 1px solid #454545;
  text-align: center;
  font-size: 0.16rem;
}
.choose .box2 .wrap ul li.num {
  width: 0.78rem;
  font-size: 0.2rem;
}
.choose .box2 .wrap ul li.up {
  border: none;
}
.choose .box3 .wrap {
  height: 1.12rem;
  padding: 0.42rem 0 0.38rem 0;
}
.choose .box3 .wrap .box3-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose .box3 .wrap .box3-1 span {
  font-size: 0.25rem;
  color: #444444;
}
.choose .box3 .wrap .box3-1 img {
  width: 0.35rem;
  height: 0.21rem;
}
.choose .box3 .wrap .box3-2 {
  font-size: 0.22rem;
  color: #b4b4b4;
  margin-top: 0.28rem;
}
.choose .box3 .wrap .box3-2 .red {
  display: inline-block;
  width: 1.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: white;
  background-color: #e43a3d;
  border-radius: 0.1rem;
  text-align: center;
  margin: 0 0.15rem 0 0.7rem;
}
.choose .box3 .wrap .box3-2 .brown {
  display: inline-block;
  width: 1.16rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: white;
  background-color: #e1e1e3;
  border-radius: 0.1rem;
  text-align: center;
}
.detail {
  background-color: #fff;
  overflow: hidden;
}
.detail p {
  font-size: 0.29rem;
  color: #464646;
  margin: 0.33rem 0.25rem;
}
.detail .img3 {
  width: 7.5rem;
  height: 4.58rem;
}
.detail .img4 {
  width: 7.5rem;
  height: 6.48rem;
}
.detail .img5 {
  width: 7.5rem;
  height: 5.92rem;
}
.detail .img6 {
  width: 7.5rem;
  height: 3.5rem;
}
.detail .img7 {
  width: 7.5rem;
  height: 3.31rem;
}
.discuss {
  background-color: #fff;
  margin-top: 0.3rem;
}
.discuss h2 {
  color: #454545;
  font-size: 0.29rem;
  border-bottom: 1px solid #eeeeee;
  padding: 0.34rem 0 0.3rem;
}
.discuss .one {
  height: 3.2rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eeeeee;
}
.discuss .one p {
  line-height: 0.55rem;
  font-size: 0.25rem;
  color: #454545;
}
.discuss .one img {
  margin: 0.2rem 0.1rem;
}
.discuss .one .img8 {
  width: 1.54rem;
  height: 1.5rem;
}
.discuss .one .img9 {
  width: 1.6rem;
  height: 1.5rem;
}
.discuss .one .img10 {
  width: 1.54rem;
  height: 1.5rem;
}
.discuss .one span {
  display: block;
  font-size: 0.2rem;
  color: #999999;
}
.discuss p {
  line-height: 0.9rem;
  font-size: 0.24rem;
  color: #999999;
}
.discuss p span {
  float: right;
}
.footer {
  height: 1.15rem;
  background-color: #fff;
}
.footer .shopcar {
  position: relative;
  width: 1.6rem;
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 0.16rem;
  color: #878787;
  vertical-align: middle;
}
.footer .shopcar img {
  margin-top: 0.2rem;
  width: 0.58rem;
  height: 0.54rem;
}
.footer .shopcar div {
  position: absolute;
  right: 0.45rem;
  top: 0.2rem;
  width: 0.24rem;
  height: 0.24rem;
  line-height: 0.24rem;
  background-color: #e23839;
  border-radius: 50%;
  color: white;
}
.footer .tocar {
  height: 100%;
  width: 2.88rem;
  margin-right: -0.07rem;
  background-color: #f26b11;
  color: white;
  font-size: 0.26rem;
  text-align: center;
  vertical-align: middle;
}
.footer .buy {
  height: 100%;
  width: 2.88rem;
  color: white;
  font-size: 0.26rem;
  text-align: center;
  background-color: #e43a3d;
  vertical-align: middle;
}
