body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.wrap {
  width: 6.9rem;
  margin: 0 auto;
}
.header {
  background-color: #f26b11;
  height: 0.85rem;
}
.header .wrap {
  height: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrap img {
  width: 0.17rem;
  height: 0.29rem;
}
.header .wrap h2 {
  font-size: 0.34rem;
  color: white;
}
.header .wrap .points span {
  display: inline-block;
  width: 0.11rem;
  height: 0.11rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0.1rem;
}
.name {
  height: 2.06rem;
  background-color: #f26b11;
}
.name .head {
  float: left;
  width: 1.43rem;
  height: 1.43rem;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/mine_images/head.jpg") no-repeat center;
  background-size: 100%;
  margin-top: 0.3rem;
}
.name .na {
  float: left;
  height: 0.75rem;
  padding-top: 0.7rem;
  margin-left: 0.25rem;
}
.name .na .p1 {
  font-size: 0.28rem;
  color: #fff;
  margin-bottom: 0.23rem;
}
.name .na .p2 {
  font-size: 0.22rem;
  color: black;
}
.name .qiandao {
  float: right;
  width: 1.58rem;
  height: 0.72rem;
  line-height: 0.72rem;
  background-color: #fff;
  color: #f26b11;
  font-size: 0.25rem;
  text-align: center;
  border-radius: 0.1rem;
  margin-top: 0.74rem;
}
.mypro {
  width: 100%;
  height: 1.42rem;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
}
.mypro .wrap {
  width: 6.32rem;
  height: 1.42rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mypro .wrap p {
  color: #818181;
  font-size: 0.2rem;
}
.mypro .wrap .box1 img {
  margin-bottom: 0.12rem;
  width: 0.34rem;
  height: 0.34rem;
  margin-left: 0.4rem;
}
.mypro .wrap .box2 img {
  margin-bottom: 0.12rem;
  width: 0.38rem;
  height: 0.34rem;
  margin-left: 0.2rem;
}
.mypro .wrap .box3 img {
  margin-bottom: 0.12rem;
  width: 0.34rem;
  height: 0.29rem;
  margin-left: 0.2rem;
}
ul {
  background-color: #fff;
  margin-top: 0.2rem;
  height: 7.2rem;
}
ul li {
  height: 1.08rem;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}
ul li a {
  display: inline-block;
  width: 6.9rem;
  height: 0.4rem;
}
ul li img {
  vertical-align: middle;
}
ul li .right {
  float: right;
  width: 0.19rem;
  height: 0.26rem;
  vertical-align: middle;
}
ul li span {
  font-size: 0.26rem;
  color: #666666;
  margin-left: 0.2rem;
  vertical-align: middle;
}
ul li .span5 {
  float: right;
  margin-right: 0.18rem;
  color: #f26b11;
}
ul li .span6 {
  margin-left: 0.1rem;
}
ul li .img4 {
  width: 0.36rem;
  height: 0.4rem;
}
ul li .img5 {
  width: 0.36rem;
  height: 0.36rem;
}
ul li .img6 {
  width: 0.46rem;
  height: 0.32rem;
}
ul li .img7 {
  width: 0.36rem;
  height: 0.34rem;
}
ul li .img8 {
  width: 0.38rem;
  height: 0.36rem;
}
.fixed-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
}
.fixed-menu .con {
  width: 7.5rem;
  height: 1.2rem;
  margin: 0 auto;
  background-color: #fff;
}
.fixed-menu .nav {
  font-size: 0.22rem;
  width: 6.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.22rem;
  box-sizing: border-box;
  line-height: 1.8;
}
.fixed-menu .nav a {
  color: #999;
  text-align: center;
}
.fixed-menu .nav a i {
  display: block;
  width: 0.58rem;
  height: 0.58rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.fixed-menu .nav a:first-child i {
  background-image: url("../images/public/icon_8.jpg");
}
.fixed-menu .nav a:nth-child(2) i {
  background-image: url("../images/public/icon_7.jpg");
}
.fixed-menu .nav a:nth-child(3) i {
  background-image: url("../images/public/icon_5.jpg");
}
