body {
    margin: 0;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p,
  dl,
  dd {
    margin: 0;
  }
  img {
    vertical-align: middle;
    border: none;
  }
  a {
    text-decoration: none;
    color: #666;
  }
  strong,
  b {
    font-weight: normal;
  }
  i,
  em {
    font-style: normal;
  }
  table {
    border-collapse: collapse;
  }
  th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
  }
  td {
    text-align: left;
    vertical-align: top;
  }
  input {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    outline: none;
    /*去掉输入框的蓝色轮廓框*/
  }
  textarea {
    resize: none;
    /* 禁止用户重置元素大小 */
    overflow: auto;
    font-family: inherit;
    outline: none;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  a,
  input,
  button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  input,
  button {
    -webkit-appearance: none;
  }
  input {
    border-radius: 0;
  }
  input::-webkit-input-placeholder {
    color: #666;
    /*  默认的样式 */
  }
  input:focus::-webkit-input-placeholder {
    color: #666;
    /* 点击后的样式 */
  }
  body {
    background-color: #f1f1f1;
  }
  .container {
    width: 7.5rem;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding-bottom: 1.2rem;
  }
  .wrap {
    width: 7.1rem;
    margin: 0 auto;
  }
  .header {
    height: 0.88rem;
    background-color: #fff;
  }
  .header .wrap {
    height: 0.88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1 img {
    width: 1.47rem;
    height: 0.33rem;
  }
  .header input {
    width: 3rem;
    height: 0.4rem;
    background-color: #eee;
    border-radius: 0.04rem;
    text-align: center;
    font-size: 0.18rem;
  }
  .header .points span {
    float: left;
    margin-left: 0.1rem;
    width: 0.13rem;
    height: 0.13rem;
    background-color: #000;
    border-radius: 50%;
  }
  .nav {
    background-color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
  }
  .nav .wrap {
    position: relative;
    overflow: hidden;
  }
  .nav ul {
    width: 20rem;
  }
  .nav ul li {
    float: left;
    font-size: 0.28rem;
  }
  .nav ul li a {
    color: #202020;
    padding: 0 0.19rem;
  }
  .nav ul li.first {
    position: relative;
  }
  .nav ul li.first a {
    color: #e40033;
    border-right: 1px solid #f1f1f1;
  }
  .nav ul li.first::after {
    position: absolute;
    left: 0.19rem;
    bottom: 0;
    content: '';
    width: calc(100% - 0.38rem);
    height: 0.04rem;
    background-color: #e40033;
  }
  .nav .arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0.2rem;
    background-color: #fff;
  }
  .nav .arrow img {
    width: 0.35rem;
    height: 0.21rem;
  }
  .banner {
    position: relative;
    height: 2.91rem;
  }
  .banner a {
    position: absolute;
    top: 0;
    left: 0;
  }
  .banner a img {
    width: 7.5rem;
    height: 2.91rem;
  }
  .icon-nav {
    background-color: #fff;
    height: 1.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .icon-nav .item {
    font-size: 0.24rem;
    text-align: center;
  }
  .icon-nav .item a {
    color: #595959;
  }
  .icon-nav .item img {
    width: 0.64rem;
    height: 0.62rem;
    margin-bottom: 0.28rem;
  }
  .sale {
    height: 3.8rem;
    background-color: #fff;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
  }
  .sale .left {
    position: relative;
    width: 3.77rem;
    height: 3.8rem;
    padding-left: 0.16rem;
    box-sizing: border-box;
  }
  .sale .left h3 {
    font-size: 0.3rem;
    color: #ff064f;
    letter-spacing: 0.04rem;
    margin-top: 0.16rem;
  }
  .sale .left h3 img {
    width: 0.33rem;
    height: 0.31rem;
    margin-right: 0.1rem;
    vertical-align: -0.06rem;
  }
  .sale .left .des {
    font-size: 0.22rem;
    color: #999;
    margin: 0.07rem 0;
  }
  .sale .left .time {
    font-size: 0.26rem;
  }
  .sale .left .time span {
    display: inline-block;
    background-color: #333;
    color: #fff;
    line-height: 0.42rem;
    padding: 0 0.09rem;
    border-radius: 0.05rem;
    margin: 0 0.04rem;
  }
  .sale .left .time i {
    color: #333;
    display: inline-block;
    line-height: 0.41rem;
    padding: 0 0.25rem 0 0.21rem;
    background: url("../images/index_images/bg.jpg") no-repeat;
    background-size: 100% 100%;
  }
  .sale .left .pic {
    display: block;
    width: 2.36rem;
    height: 2rem;
    margin: 0.18rem auto 0;
  }
  .sale .left .price {
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
    background-color: #ff064f;
    color: #fff;
    font-size: 0.16rem;
    line-height: 0.88rem;
    text-align: center;
  }
  .sale .left .price span {
    font-size: 0.24rem;
  }
  .sale .right {
    width: 3.72rem;
    height: 3.8rem;
    background-color: #fff;
  }
  .sale .right .top {
    width: 3.52rem;
    height: 1.88rem;
    background-color: #fff;
    padding-left: 0.2rem;
    border: 1px solid #f0f0f0;
  }
  .sale .right .top h1 {
    font-size: 0.3rem;
    color: #fc2f7c;
    margin-top: 0.2rem;
  }
  .sale .right .top h1 span {
    display: inline-block;
    width: 0.33rem;
    height: 0.25rem;
    line-height: 0.25rem;
    background-color: #fc2f7c;
    color: white;
    font-size: 0.18rem;
    text-align: center;
    margin-left: 0.1rem;
    padding-top: -0.1rem;
    vertical-align: top;
  }
  .sale .right .top h2 {
    font-size: 0.2rem;
    color: #787878;
    margin-top: 0.1rem;
  }
  .sale .right .top .pic1 {
    width: 0.93rem;
    height: 0.32rem;
    margin-top: 0.26rem;
  }
  .sale .right .top .pic2 {
    float: right;
    width: 1.28rem;
    height: 1.78rem;
    margin: -0.75rem 0.3rem;
  }
  .sale .right .bottom .le {
    float: left;
    width: 1.84rem;
    height: 1.86rem;
    border-left: 1px solid #f0f0f0;
  }
  .sale .right .bottom .le img {
    margin-left: 0.6rem;
    margin-top: 0.08rem;
    width: 0.64rem;
    height: 1.02rem;
  }
  .sale .right .bottom .ri {
    float: right;
    width: 1.84rem;
    height: 1.86rem;
    border-left: 1px solid #f0f0f0;
  }
  .sale .right .bottom .ri img {
    margin-left: 0.4rem;
    margin-top: 0.08rem;
    width: 1.04rem;
    height: 1.02rem;
  }
  .sale .right .bottom .p1 {
    font-size: 0.26rem;
    color: #f73861;
    margin: 0.18rem 0 0.08rem 0.18rem;
  }
  .sale .right .bottom .p2 {
    font-size: 0.22rem;
    color: #868686;
    margin-left: 0.18rem;
  }
  .banner2 img {
    width: 7.5rem;
    height: 1.87rem;
    margin: 0.27rem 0;
  }
  .pro-list {
    background-color: #fff;
  }
  .pro-list .nav-top li {
    float: left;
    width: 1.75rem;
    height: 0.68rem;
    line-height: 0.68rem;
    border: 1px solid #d2d2d2;
    border-left: none;
    text-align: center;
    font-size: 0.28rem;
  }
  .pro-list .nav-top li.first {
    background-color: #f26b11;
    color: white;
    border: none;
  }
  .pro-list .nav-top li.first a {
    color: white;
  }
  .pro-list .nav-top li a {
    color: #1f1f1f;
  }
  .pro-list .pro {
    width: 6.72rem;
    height: 2.2rem;
    box-shadow: 0 0 0.1rem #e9e9e9;
    margin: 0.19rem 0 0.15rem;
    padding: 0.45rem 0 0.35rem 0.35rem;
  }
  .pro-list .pro img {
    width: 2.16rem;
    height: 2.2rem;
  }
  .pro-list .pro .detail {
    float: right;
    width: 4.04rem;
  }
  .pro-list .pro .detail .p1 {
    font-size: 0.3rem;
    color: #323232;
  }
  .pro-list .pro .detail .p2 {
    font-size: 0.24rem;
    color: #df353e;
    margin: 0.27rem 0 0.32rem;
  }
  .pro-list .pro .detail .p2 span {
    font-size: 0.2rem;
  }
  .pro-list .pro .detail .p3 {
    font-size: 0.23rem;
    color: #999999;
  }
  .pro-list .pro .detail .buy {
    display: inline-block;
    width: 1.64rem;
    height: 0.52rem;
    line-height: 0.52rem;
    text-align: center;
    background-color: #f26b11;
    color: white;
    font-size: 0.25rem;
    border-radius: 0.1rem;
    margin-top: 0.31rem;
  }
  .fixed-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.2rem;
  }
  .fixed-menu .con {
    width: 7.5rem;
    height: 1.2rem;
    margin: 0 auto;
    background-color: #fff;
  }
  .fixed-menu .nav {
    font-size: 0.22rem;
    width: 6.3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.22rem;
    box-sizing: border-box;
    line-height: 1.8;
  }
  .fixed-menu .nav a {
    color: #999;
    text-align: center;
  }
  .fixed-menu .nav a i {
    display: block;
    width: 0.58rem;
    height: 0.58rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .fixed-menu .nav a:first-child i {
    background-image: url("../images/public/icon_8.jpg");
  }
  .fixed-menu .nav a:nth-child(2) i {
    background-image: url("../images/public/icon_7.jpg");
  }
  .fixed-menu .nav a:nth-child(3) i {
    background-image: url("../images/public/icon_5.jpg");
  }
  